header {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(4px);
    bottom: 0;
    margin-bottom: 1rem;
    position: sticky;
}

html {
    body {
        height: 100vh;
    }
}

a {
    color:rgb(30, 120, 255);
}

.artist-name {
    background-color: gainsboro;
}

.alert {
    --bs-bg-opacity: .7 !important;
    box-shadow: 4px 4px 5px rgba($color: black, $alpha: .4) !important;
}

.btn:not(:hover, :disabled) {
    box-shadow: 2px 2px 4px rgba($color: black, $alpha: .3) !important;
}

body {
    background-image: url('https://i.imgur.com/7dj7vwQ.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

thead {
    border-top: 0px !important;
    th {
        border-bottom: 0px !important;
    }
}

tbody {
    color: white;
    background-color: rgba($color: black, $alpha: 0.65);
    border-top: 0px #373b3e !important;
    border-color: #767c81;
    backdrop-filter: blur(4px);

    tr:nth-child(odd) {
        background-color: rgba(63, 70, 78, 0.5);
    }

    tr:hover {
        background-color: rgba($color: #51799e, $alpha: 0.6);
    }
}