<!-- modal add artist -->
<div class="modal fade" id="addArtist" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">新增訂閱繪師</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
				</button>
			</div>
			<form action="/edit/add-artist" onsubmit="add_artist();" name="add-artist">
				<div class="modal-body">
					<div role="alert" class="alert alert-danger" style="display: none;">
						<i class="far fa-times-circle fa-lg text-danger"></i>
						修改失敗，原因：<span></span>
					</div>
					<input type="hidden" name="id" value="<%- id %>">
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="artist-name" name="artist" placeholder="繪師名" required autofocus>
						<label for="artist-name">繪師名</label>
					</div>
					<div class="form-floating mb-3">
						<input type="text" class="form-control" id="artist-mark" name="mark" placeholder="備註，非必填">
						<label for="artist-mark">備註</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-primary">新增</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
function add_artist() {
	const form = document.forms['add-artist'];
	const formData = new FormData(form);

	formSubmit.post(form.action, formData)
		.then(res => {
			$(form).parents('.modal').modal('hide');
			alert('新增成功');
			location.reload(true);
		})
		.catch(res => {
			const alert = $('.alert-danger', form);
			$('span', alert).text(res.response?.data ?? res.message);
			alert.fadeIn('slow', () => setTimeout(() => alert.fadeOut('slow'), 5000));
			console.log(res.response.data);
		});
}
</script>
<!-- end of add artist -->

<!-- modal unsub artist -->
<div class="modal fade" id="unsub" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">取消訂閱繪師</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
				</button>
			</div>
			<form action="/del_artist" method="post" name="unsub">
				<div class="modal-body">
					body
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-primary">新增</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- end of unsub artist -->

<!-- modal remove artist -->

<!-- end of modal -->

<!-- modal edit artist info -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">繪師資訊更改</h5>
				<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
				</button>
			</div>
			<div class="modal-body">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
				<button type="submit" class="btn btn-primary">確定</button>
			</div>
		</div>
	</div>
</div>
<!-- end of modal -->

<!-- modal edit url -->
<% const subscriber = data.subscribers %>
<div class="modal fade" id="editInfo" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">資料更改</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
				</button>
			</div>
			<form onsubmit="edit_url();" name="edit-url">
				<div class="modal-body">
					<div role="alert" class="alert alert-success" style="display: none;">
						<i class="far fa-check-circle fa-lg"></i>
						修改成功
					</div>
					<div role="alert" class="alert alert-danger" style="display: none;">
						<i class="far fa-times-circle fa-lg text-danger"></i>
						修改失敗，原因：<span></span>
					</div>
					<input type="text" class="form-control" name="id" value=<%- id %> hidden>
					<div class="form-group mb-3">
						<label for="preview_url" class="col-form-label">預覽網址:</label>
						<textarea class="form-control" placeholder="可輸入多行，非必填" name="preview_url" id="preview_url" rows="5">
<%- subscriber?.preview_url ?? "" %></textarea>
					</div>
					<div class="form-group mb-3">
						<label for="download_url" class="col-form-label">下載網址:</label>
						<textarea class="form-control" placeholder="可輸入多行" name="download_url" id="download_url" rows="5" required>
<%- subscriber?.download_url ?? "" %></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
					<button type="submit" class="btn btn-primary">確定</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
function edit_url() {
	const form = document.forms['edit-url'];
	const formData = new FormData(form);
	formSubmit.post('/edit/url', formData)
		.then(res => {
			const alert = $('.alert-success', form);
			alert.fadeIn('slow', () => setTimeout(() => alert.fadeOut('slow'), 3000));
		})
		.catch(err => {
			const alert = $('.alert-danger', form);
			$('span', alert).text(err.response?.data ?? err.message);
			alert.fadeIn('slow', () => setTimeout(() => alert.fadeOut('slow'), 5000));
		});
}
</script>
<!-- end of edit url -->